## Build results
bin/
obj/

## Rider / JetBrains
.idea/

## Visual Studio
.vs/

## .NET
*.dll
*.pdb
*.exe
*.cache
*.user
*.suo
*.log
[Bb]in/
[Oo]bj/


## SourceLink
*.sourcelink.json

## Publish
publish/
